@font-face {
  font-family: "main_title";
  src: url(fonts/Michroma-Regular.woff2)  format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "BIO";
  src: url(fonts/Newsreader_9pt-Regular.woff2)  format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "BIO-BOLD";
  src: url(fonts/Newsreader_9pt-Bold.woff2)  format('woff2') ;
  font-display: swap;
}
@font-face {
  font-family: NAV;
  src: url(fonts//NAV.woff2)  format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "futura";
  src: url(fonts/futura.woff2)  format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "futura-bold";
  src: url(fonts/FuturaCyrillicBook.ttf)  format('woff2');
  font-display: swap;
}

/* html, body {
  overflow-x: hidden;
} */
.dropdown {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: BIO;
  font-size: 18px;
  cursor: pointer;
}

.nav {
  position: absolute; /* ფოტო ზევიდან */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 77px;
  box-sizing: border-box;
  padding-top: 85px;
  z-index: 10;
}

.dropdown.active {
  text-decoration: none;
}
/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%; /* პირდაპირ parent-ის ქვემოთ */
  left: -55px;
  background: white;
  padding: 10px 0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: none;
  min-width: 217px;
  text-align: right;
  z-index: 1000;
  opacity: 0.75;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

/* Show dropdown on hover parent OR menu itself */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

/* Optional: hover effect on links */
/* .dropdown-menu a:hover {
  background: #f2f2f2;
} */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: white;
  color: #333;
  overflow-x: hidden;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-img {
  margin-left: -255px;
}
.main_title a {
  color: black;
  text-decoration: none;
  font-family: futura-bold;
}
.main_title p {
  font-size: 28px;
    letter-spacing: 9px;
}
.menu a {
  color: black;
  text-decoration: none;
  font-family: BIO;
  font-size: 18px;
}
/* .menu a:hover {
  color: gray;
} */
.menu {
  gap: 29px;
  display: flex;
}

.slider {
  position: relative;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.page_title {
  color: black;
  font-family: menu;
  text-align: center;
  font-size: 25px;
  font-family: BIO-BOLD;
  padding-top: 30px;
  margin-left: 70px;
  text-align: left;
  letter-spacing: 0.3px;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 70px;
  margin-top: 260px;
}
.about img {
  width: 100%;
  height: 100%;
}
.about p {
  font-family: BIO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 26px;
  margin-left: 70px;
  margin-right: 56px;
  margin-top: 30px;
}
.bio-exhibitions {
  font-family: BIO-BOLD;
  font-size: 22px;
  letter-spacing: 0.3px;
  font-weight: 700;
}
.bio {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
}
*/ .about,
.contact {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.page_title_contact {
  text-align: center;
  font-family: futura;
  letter-spacing: 4px;
  margin-top: -80px;
}
.social_media {
  padding-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.social_media img {
  width: 40px;
  height: 40px;
}
#message {
  resize: none;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background-color: #ffa500;
} */

footer img {
  width: 30px;
}
footer {
  display: flex;
  text-align: center;
  min-height: 55px;
  border-top: 1px solid black;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: none;
}
.home-footer {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  padding-bottom: 172px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .home-page {
  display: flex;
  flex-direction: row;
} */
header,
footer {
  background: transparent;
  border: none;
}
header {
  background: transparent;
  border-bottom: none;
  box-shadow: none;
  position: absolute; /* გადაატარებს ფოტოს ზემოდან */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.menu.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #ffffff; /* სურვილის მიხედვით */
  padding: 10px 0;
}
.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: black;
  z-index: 1100;
}

@media (max-width: 768px) {
  .nav {
    padding: 20px 29px;
    padding-top: 20px;
  }
  .home-footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
  }
  .full-image {
    height: auto; /* უნდა იყოს ფლექსის სიგრძე */
    min-height: calc(
      100vh - 60px - 50px
    ); /* 50px შეიძლება იყოს footer-ის სიმაღლე */
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* ბურგერის ქვეშ გამოჩნდება */
    right: 0;
    background-color: #222;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    min-width: 150px;
  }

  .menu.active {
    display: flex;
    align-items: center;
  }

  .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 0;
    font-size: 16px;
  }
  /* .menu a:hover {
    color: #ddd;
  } */

  .burger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: black;
    z-index: 1100;
    margin-left: auto;
  }

  .main_title p {
    font-size: 17px;
    letter-spacing: 4px;
  }

  .full-image {
    height: 70vh;
  }

  footer img {
    width: 20px;
    height: 20px;
  }
  .main_title {
    flex-grow: 1;
  }

  /* hover აღარ გამოვიყენოთ */
  .dropdown:hover .dropdown-menu,
  .dropdown-menu:hover {
    display: none;
  }

  /* ახალი კლასი, რომელიც click-ის შემდეგ გამოაჩენს menu */
  .dropdown.active .dropdown-menu {
    display: block;
    text-align: center;
  }

  .dropdown-menu {
    position: relative; /* მობილურზე არ დასჭირდება absolute */
    left: 0;
    box-shadow: none;
    opacity: 1;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: BIO;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }
  .artworks-title {
    padding-top: 110px;
  }
}
